* -text
run-01/** whitespace=blank-at-eol,blank-at-eof,space-before-tab,cr-at-eol
verification-01/** whitespace=blank-at-eol,blank-at-eof,space-before-tab,cr-at-eol
validation/** whitespace=blank-at-eol,blank-at-eof,space-before-tab,cr-at-eol
